body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000000;
}

header {
  background-color: #500a0a;
  color: white;
  text-align: center;
  padding: 60px 20px;
}

.btn {
  background-color: rgb(255, 255, 255);
  color: #000000;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}


.card {
  background: rgb(255, 255, 255);
  padding: 20px;
  width: 250px;
  border-radius: 8px;
}
.navbar {
  background-color: #ffffff;
  padding: 15px;
  text-align: center;
}

.navbar a {
  margin: 0 15px;
  text-decoration: none;
  color: #500a0a;
  font-weight: bold;
}

@media (max-width: 600px) {
  .services {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }

  .navbar a {
    display: block;
    margin: 10px 0;
  }
}
.contact-section {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

.contact-section input,
.contact-section textarea {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-section button {
  background-color: #1dbf73;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.contact-section button:hover {
  background-color: #15995d;
}



